<div class="row mt-2">
  <div class="col text-center">
    <span class="h4">Boulder Is For Robots</span>
  </div>
</div>

<div class="row mt-2 justify-content-center">
  {% include sponsor_card.html
  sponsor_name="Brad Feld"
  sponsor_type="Platinum Sponsor"
  sponsor_image="bfeld.jpg"
  sponsor_url="https://feld.com/" %}

  {% include sponsor_card.html
  sponsor_name="Upslope Brewing"
  sponsor_type="Beer & Happy Hour Sponsor"
  sponsor_image="upslope.jpg"
  sponsor_url="https://upslopebrewing.com"%}

  {% include sponsor_card.html
  sponsor_name="Galvanize"
  sponsor_type="Event Space Sponsor"
  sponsor_image="galvanize.png"
  sponsor_url="https://www.galvanize.com/" %}
</div>
