<header class="main-header">

  <nav class="navbar navbar-expand-md navbar-light">
    <button type="button"
            class="navbar-toggler navbar-toggler-right ml-auto"
            data-toggle="collapse" data-target="#navbar-collapse"
            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand visible-sm-down"
       style="position: absolute;" href="{{url}}/">
      <img src="images/colorado-flag-robot-head.png"
           class="align-text-bottom"
           style="width: 2rem; height: 2rem;"/>
      <span class="h3">ColoRobo</span>
    </a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav justify-content-center w-100">
        <!-- Meetups -->
        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link active" data-toggle="dropdown"
             href="#">Meetups<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
          {% for meetup in site.meetups_list %}
            <li>
              <a href="{{ meetup.url }}"
                 class="page-scroll nav-link">{{ meetup.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>

        <!-- Companies -->
        <li class="nav-item">
          <a href="{{url}}/companies"
             class="page-scroll nav-link active">Companies</a>
        </li>

        <!-- CO. Based research -->
        <li class="nav-item">
          <a href="{{url}}/research"
             class="page-scroll nav-link active">Researchers</a>
        </li>

        <!-- News -->
        <li class="nav-item">
          <a href="{{url}}/youth"
             class="page-scroll nav-link active">Youth</a>
        </li>

        <li class="verticalline nav-item">
          <a class="btn btn-social-icon btn-twitter"
             href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
        </li>

        <li class="verticalline nav-item">
          <a class="btn btn-social-icon btn-github"
             href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- /Main Menu -->

</header>
