<header class="main-header">
  
  <nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" 
            class="navbar-toggler navbar-toggler-right"
            data-toggle="collapse" data-target="#navbar-collapse" 
            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{url}}/">
      Colorado Robotics
    </a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav ml-auto">
        <!-- Meetups -->
        <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link active" data-toggle="dropdown" 
             href="#">Meetups<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="https://www.meetup.com/BoulderIsForRobots/"
                 class="page-scroll">Boulder</a>
            </li>
            <li>
              <a href="https://www.meetup.com/BoulderIsForRobots/"
                 class="page-scroll">Denver</a>
            </li>
          </ul>
        </li>

        <!-- Companies -->
        <li class="nav-item">
          <a href="{{url}}/companies.html"
             class="page-scroll nav-link active">Companies</a>
        </li>

        <!-- News -->
        <li class="nav-item">
          <a href="{{url}}/news.html"
             class="page-scroll nav-link active">News</a>
        </li>

        <!-- CO. Based research -->
        <li class="nav-item">
          <a href="{{url}}/research.html"
             class="page-scroll nav-link active">CO. Based Research</a>
        </li>
        <li class="verticalline nav-item">

          <a class="btn btn-social-icon btn-twitter"
             href="https://twitter.com/bminortx">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Main Menu -->

</header>
